.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
    color: rgb(169, 168, 168);
}
.project-container{
    max-width: 992px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    margin-top: 1rem;
   
}
.project-card{
    background-color: #383636;
    padding: 1.2rem 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    margin-top:5rem;
}
.project-card img{
    width: 100% ;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
.project-title{
    color: #a3a1a1;
    padding: 1rem 0;
    text-align: center;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem ;
    text-align: justify;
    color: #a3a1a1;
    text-align: center;
}
.pro-btns .btn{
    padding: 0.5rem 1rem;
}
.otherbtn{
    background-color: #666;
    border: none;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
}

.pro-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
@media screen and (max-width:740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .project-card{
        background-color: #383636;
        padding: 1.2rem 2.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
        border-radius: .6rem;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        -ms-border-radius: .6rem;
        -o-border-radius: .6rem;
        margin-top:5rem;
    }
}